<template>
  <div class="header">
    <div>
      <button @click="changeEs">Español</button>
      <button @click="changeEn">English</button>
      <img class="image" src="@/assets/innova_logo.png" alt="innova-logo" />
    </div>

    <div class="list">
      <nav>
        <ul>
          <li><a href="#"> {{$t('NAVBAR.HOME')}}</a></li>
          <li><a href="#">{{$t("NAVBAR.COMPANY")}}</a></li>
          <li><a href="#">{{$t("NAVBAR.TECHS")}}</a></li>
          <li><a href="#">{{$t("NAVBAR.CLIENTS")}}</a></li>
          <li><a href="#">{{$t("NAVBAR.CONTACT")}}</a></li>
        </ul>
      </nav>

      <nav>
        <ul>
          <li>
            <img class="fb" src="@/assets/facebook_logo.png" alt="facebook" />
          </li>
          <li>
            <img
              class="instagram"
              src="@/assets/instagram.png"
              alt="linkedin"
            />
          </li>
          <li>
            <img class="ln" src="@/assets/linkedin.png" alt="linkedin" />
          </li>
          <li>
            <img src="@/assets/spanish.png" alt="español" @click="changeEs"/>
          </li>
          <li><img src="@/assets/english.png" alt="ingles" /></li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    changeEs() {
      this.$i18n.locale = "es";
    },
    changeEn() {
      this.$i18n.locale = "en";
    },
  
  },
};
</script>

<style scoped>
.header {
  display: flex;
}

.image {
  width: 100%;
  height: 90%;
  padding-left: 6%;
  align-items: center;
}

.list {
  width: 100%;
  text-align: end;
  color: #4a4a4a;
}
.list li {
  display: inline-flex;
  justify-content: end;
  padding-left: 1%;
  margin-top: -10px;
  align-content: center;
  font-size: 20px;
}
.list li a {
  text-decoration: none;
  color: black;
}
.fb {
  width: 35px;
}
.instagram {
  width: 28px;
}
.ln {
  width: 25px;
}
</style>