<template>
  <div class="home">
    <Banner />
    <Company :info="getInfo" />
    <Solution :solutions="getInfo" />
    <Proyects :proyects="getInfo" />
    <Tecnhologies :tecnhologies="getInfo" />
    <Clients :clients="getInfo" />
    <Contact :contacts="getInfo" />
  </div>
</template>

<script>
// @ is an alias to /src
import Banner from "../components/banner.vue";
import Company from "../components/company.vue";
import Solution from "../components/solution.vue";
import Tecnhologies from "../components/tecnhologies.vue";
import Proyects from "../components/proyects.vue";
import Clients from '../components/clients.vue';
import Contact from '../components/contact.vue';

export default {
  components: {
    Banner,
    Company,
    Solution,
    Tecnhologies,
    Proyects,
    Clients,
    Contact
  },

  async mounted() {
    var languaje = "es";
    return await this.$store.dispatch("getData", languaje);
  },

  computed: {
    getInfo() {
      return this.$store.state.finalData;
    },
  },

};
</script>
