<template>
  <div>
    <div class="banner">
      <div class="text">
        <h1>{{ $t("HOME.TITLE") }}</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async mounted() {
    return await this.$store.dispatch("getData");
  },

  computed: {
    info() {
      return this.$store.state.finalData;
    },
  },
};
</script>

<style scoped>
.banner {
  width: 100%;
  height: 100vh;
  background: url("../assets/banner.jpg") no-repeat fixed center;
  background-size: cover;
}
.text {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: roll-in 0.15s 0s ease-out forwards;
}
</style>