<template>
  <div class="container">
    <div class="container_title">
        <div class="title">
        </div>
    </div>
    <div class="container_description">
      <div class="description_clients">
        <p>{{$t("CLIENTS.CONTENT")}}</p>
      </div>
    </div>
    <div class="container_images">
      <div v-for="(img, index) in clients.TECHNOLOGIES" :key="index">
        <img src="../assets/biobio.png" alt="biobio">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    clients: Object,
  },
};
</script>

<style scoped>
.container {
    display: flex;
    flex-direction: column;
    background: url("../assets/background_clients.png");
}

.container_title {
  padding: 4%;
  width: auto;
  display: flex;
  justify-content: center;
}

.title {
  width: 30%;
  border-bottom: medium solid #f29c0d;
}

.container_description {
  width: auto;
  display: flex;
  justify-content: center;
}

.description_clients {
  width: 70%;
  font-size: 90%;
  line-height: 23px;
}

.container_images {
  display: flex;
  margin-top: 2%;
  margin-bottom: 8%;
  padding: 2%;
  background: #f29c0d;
}

.container_images div{
  padding: 2%;
}
</style>