<template>
  <div class="container">
    <div class="container_mision">
      <img class="image_mision" src="../assets/mision.png" alt="team" />

      <div class="mision">
        <h1>{{ $t('MISSION.MISSION.TITLE') }}</h1>
        <p>{{ $t('MISSION.MISSION.CONTENT') }}</p>
      </div>
      <div class="triangule_mision"></div>
    </div>
    <div class="container_team">
      <div class="triangule_team"></div>
      <div class="team">
        <h1>{{ $t('MISSION.TEAM.TITLE') }}</h1>

        <p>{{ $t('MISSION.TEAM.CONTENT') }}</p>
      </div>

      <img class="image_team" src="../assets/team.png" alt="team" />
    </div>
    <div class="container_ti">
      <img class="image_ti" src="../assets/ti.png" alt="team" />

      <div class="ti">
        <h1>{{ $t('MISSION.TI.TITLE') }}</h1>
        <p>
          {{ $t('MISSION.TI.CONTENT') }}
        </p>
      </div>
      <div class="triangule_ti"></div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({}),

  props: {
    info: Object,
  },
};
</script>

<style scoped>
.container {
  background-image: url("../assets/background_company.png");
  padding: 2%;
}
.container_mision {
  display: flex ;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  padding-left: 15%;
}
.image_mision {
  z-index: 1;
  width: 9%;
  border-radius: 100%;
  border: #605f5c 4px solid;
  margin-right: -2%;
}
.mision {
  display: block;
  padding: 0.5%;
  padding-left: 3%;
  color: white;
  background: #0d95c8;
  text-align: left;
  width: 20%;
}
.triangule_mision {
  width: 0;
  height: 0;
  border-left: 60px solid #0d95c8;
  border-top: 100px solid transparent;
  border-bottom: 105px solid transparent;
}
.container_team {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2%;
  padding-right: 15%;
}
.image_team {
  z-index: 1;
  width: 8%;
  border-radius: 100%;
  border: #605f5c 4px solid;
  margin-left: -2%;
}
.team {
  display: block;
  padding: 0.5%;
  padding-right: 3%;
  justify-content: right;
  color: white;
  text-align: right;
  height: 100%;
  width: 20%;
  background: #f29c0d;
}

.triangule_team {
  width: 0;
  height: 0;
  border-right: 60px solid #f29c0d;
  border-top: 110px solid transparent;
  border-bottom: 115px solid transparent;
}
.container_ti {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  padding-left: 15%;
  padding-bottom: 2%;
}
.image_ti {
  z-index: 1;
  width: 8%;
  border-radius: 100%;
  border: #605f5c 4px solid;
  margin-right: -20px;
}
.ti {
  display: block;
  padding: 0.5%;
  padding-left: 3%;
  text-justify: start;
  color: white;
  background: #d5123e;
  text-align: left;
  height: 100%;
  width: 20%;
}

.triangule_ti {
  width: 0;
  height: 0;
  border-left: 60px solid #d5123e;
  border-top: 110px solid transparent;
  border-bottom: 110px solid transparent;
}
</style>