<template>
    <div class="container_form">
        <div class="contact_form">
            <div class="contact_title">
                <h1 class="title"> {{$t("CONTACT.TITLE")}}</h1>
            </div>            
            <div class="form" v-for="(contact, index) in $t('CONTACT.FIELDS') " :key="index">
                <label for="hello"><i class="w3-xxlarge fa fa-pencil"></i></label>
                <input v-if="contact != 'Mensaje'" type="text" :placeholder="contact"> 
                <textarea v-if="contact === 'Mensaje'" name="message" id="message" cols="30" rows="10" :placeholder="contact" ></textarea>
            </div>
            <div>
                <button class="btn_send">Enviar</button>
            </div>
        </div>
        <div class="container_hub">
            <div class="hub">
                <div>
                <img src="../assets/location.png" alt="location">
                <h1>{{$t("CONTACT.LOCATION.TITLE")}}</h1>
                 <p>{{$t("CONTACT.LOCATION.ADDRESS_1")}}</p>
                 <p>{{$t("CONTACT.LOCATION.ADDRESS_2")}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    props: {
        contacts: Object
    }
}
</script>

<style scoped>
.container_form{
    display: flex;
    width: 100%;
    background: url('../assets/contacto.png') no-repeat;
    background-size: cover;
}
.contact_form {
    width: 50%;
}

.form {
    display: flex;
    width: 100%;
    padding: 1%;
    padding-left: 10%;
}

.form input {
    font-family: "Raleway", sans-serif;
    border: 1px solid gray;
    width: 50%;
    font-size: 100%;
    text-align: start;
    height: 1.5rem;
    padding: 1%;
    margin-left: 4%;
}

.form textarea {
    font-family: "Raleway", sans-serif;
    border: 1px solid gray;
    width: 50%;
    font-size: 100%;
    text-align: start;
    height: 6rem;
    padding: 1%;
    margin-left: 4%;
}

.btn_send {
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    background: #f29c0d;
    width: 40%;
    font-size: 20px;
    border: 0px;
    height: 35px;
    color: #ffffff;
    
}

.container_hub {
    display: flex;
    width: 50%;
    justify-content: end;
    align-self: center;
    text-align: end;
    font-size: 12px;
    margin-right: 2%;
}

.container_hub h1{
  border-bottom: medium solid #f29c0d;
    font-size: 30px;
    font-weight: 400;
    margin-left: 20%;
}

.contact_title {
    padding-left: 6%;
}

.title {
    border-bottom: medium solid #f29c0d;
    width: 30%;
    color: #605f5c;
}
</style>