<template>
  <div class="container">
    <div class="container_title">
      <h1 class="title">PROYECTOS</h1>
    </div>
    <div class="container_proyects">
      <div
        class="proyects_description"
        v-for="(proyect, index) in $t('PORTAFOLIO') " :key="index"
      >
        <h1>{{ proyect.TITLE }}</h1>
        <p>{{ proyect.CONTENT }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    image: null,
  }),

  props: {
    proyects: Object,
  },
};
</script>

<style scoped>
.container {
  width: 100%;
  margin-top: 10%;
  background-image: url("../assets/fondo_proyectos.png");
  background-size: cover;
}
.container_title {
  padding-top: 4%;

  display: flex;
  justify-content: center;
}
.title {
  border-bottom: medium solid #f29c0d;
  font-size: 40px;
  color: #605f5c;
}
.container_proyects {
  display: flex;
  justify-content: center;
  height: 80%;
}
.container_proyects h1 {
  color: rgba(23, 22, 22, 0.65);
  font-size: 22px;
}
.container_proyects p {
  color: rgba(23, 22, 22, 0.65);
  line-height: 25px;
  font-size: 15px;
}
.proyects_description {
  margin: 1%;
  align-self: center;
}
</style>