<template>
  <div class="container">
    <div class="container_title">
      <h1 class="title">SOLUCIONES</h1>
    </div>
    <div class="container_solution">
      <div
        class="solution_description"
        v-for="(solution, index) in $t('SOLUTIONS') " :key="index"
      >  
        <img
          :src="require(`@/assets/${solution.NAME}.png`)"
          :alt="solution.NAME"
        />
        <h1>{{ solution.TITLE }}</h1>
        <p>{{ solution.CONTENT }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    image: null,
  }),

  props: {
    solutions: Object,
  },
};
</script>

<style scoped>
.container {
  width: auto;
  background: url("../assets/fondo_solution.png") no-repeat center;
  background-size: cover;
}
.container_title {
  padding-top: 4%;
  display: flex;
  justify-content: center;
}
.title {
  border-bottom: medium solid #f29c0d;
  font-size: 40px;
  color: #605f5c;
}
.container_solution {
  display: flex;
  width: auto;
  justify-content: center;
}
.container_solution h1 {
  color: rgba(23, 22, 22, 0.65);
  font-size: 22px;
}
.container_solution p {
  color: rgba(23, 22, 22, 0.65);
  line-height: 25px;
  font-size: 15px;
}
.solution_description {
  margin: 1%;
  width: 100%;
}
</style>