<template>
  <div class="container">
    <div class="container_title">
      <h1 class="title">TECNOLOGIAS</h1>
    </div>
    <div class="container_tecnhologies">
      <div
        class="tecnhologies_description"
        v-for="(tecnhologie, index) in $t('TECHNOLOGIES') " :key="index"
      >
        <img
          :src="require(`@/assets/${tecnhologie.NAME}.png`)"
          :alt="tecnhologie.NAME"
        />
        <h1>{{ tecnhologie.TITLE }}</h1>
        <p>{{ tecnhologie.CONTENT }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    image: null,
  }),

  props: {
    tecnhologies: Object,
  },
};
</script>

<style scoped>
.container {
  width: auto;
  margin-top: 1%;
  background-color: rgba(241, 241, 241, 0.69);
  background-size: cover;
}
.container_title {
  padding-top: 4%;

  display: flex;
  justify-content: center;
}
.title {
  border-bottom: medium solid #f29c0d;
  font-size: 40px;
  color: #605f5c;
}
.container_tecnhologies {
  display: flex;
  width: auto;
  justify-content: center;
  align-content: center;
}
.container_tecnhologies h1 {
  color: rgba(23, 22, 22, 0.65);
  font-size: 22px;
}
.container_tecnhologies p {
  color: rgba(23, 22, 22, 0.65);
  line-height: 25px;
  font-size: 15px;
}
.tecnhologies_description {
  margin: 1%;
  width: auto;
  align-content: center;
}
</style>