<template>
  <div id="app">
    <Header />
    <router-view />
  </div>
</template>

<script>
import Header from "../src/components/layouts/header.vue";
export default {
  components: {
    Header,
  },
};
</script>

<style >
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

#app {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px;
}
</style>
